.footer {
    grid-column: 7 / -1;
    grid-row: 5 / 6;
    margin-left: 3.5rem;
    margin-top: 3.3rem;

    @media only screen and (max-width: $bp-large) {
        display: none;
    }

    &__cta {
        
        &--btn {
            border: none;
            font-size: 1.1rem;
            color: var(--grey-3);
            cursor: pointer;
            transition: all .5s;
                  
            &:hover {
                text-decoration: underline;
            }

            .span {
                display: inline-block;
            }
        }
    }

    &__language {


        &--btn {
            border: none;
            font-size: 1.1rem;
            color: var(--grey-3);
            cursor: pointer;
        }
    }

    &__copyright {
        font-size: 1.3rem;
        font-weight: 400;
        text-transform: uppercase;
        color: var(--grey-3);
        margin-top: 2.5rem;
    }
}