.story {
    grid-column: 3 / 7;
    display: flex;
    justify-content: flex-start;
    justify-self: start;
    gap: 1.5rem;
    margin-top: 2.5rem;
    background-color: var(--grey-0);
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid var(--grey-3);
    width: 40vw;
    overflow-x: auto;
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-large) {
        width: 60vw;
        grid-column: 4 / 8;
    }

    @media only screen and (max-width: $bp-medium) {
        width: 90vw;
        margin-top: 10rem;
        border: none;
        background-color: white;
    }

    @media only screen and (max-width: $bp-small) {
        width: 100vw;
        margin-top: 7rem;
    }

    &__profile {
        display: grid;
        grid-row-gap: .6rem;
        align-items: center;
        justify-items: center;
        cursor: pointer;

        picture {
            display: flex;
            justify-content: center;
            align-items: center;
            background:
            radial-gradient(white 66%, transparent 0),
            linear-gradient(45deg, var(--gradient-yellow) 0%, var(--gradient-orange) 25%,var(--gradient-pink) 50%, var(--gradient-lavender) 75%, var(--gradient-purple) 100%);

            padding: 5px;
            border-radius: 50%;
        }  

        &--img {
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            position: relative;
        }

        &--name {
            font-size: 1.1rem;
            font-weight: 400;
            width: 7rem;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
            color: var(--grey-7);
        }
    }
}